*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.icons_1{
margin-top: 41px;
}

.container{
max-width: 1200px;
margin: auto;
}

.icons_2{
margin-top: 41px;
}

.icon1{
color: #FFFFFF;
}

.icon2{
color: #FFFFFF;
padding-left: 36px;
}

header{
max-width: 100%;
height: 900px;
background: #070A1B;
}

.logo{
margin-top: 35px;
font-family: 'Playfair Display', serif;
color: #FFFFFF;
text-decoration: none;
}

.header_image{
margin-top: 43px;
max-width: 100%;
}

.header_text{
margin: auto;
text-align: center;
top:522px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: absolute;
}

.header_text_1{
font-family: 'Corporate A';
font-weight: 700;
font-size: 72px; 
}

.header_text_2{
font-family: 'Roboto Condensed', sans-serif;
font-weight: 400;
line-height: 120%;
font-size: 24px;
margin-bottom: 24px;
}

main{
background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
}

.main1{
margin-left: 210px;
}

.main1_h3{
width: 79px;
height: 22px;
font-family: 'Corporate A';
font-weight: 700;
font-size: 18px;
color: #F402A2;
}

.main1_p{
margin-bottom: 30px;
width: 900px;
height: 87px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.main2{
margin-top: 100px;
display: flex;
}

.right{
margin-right: 30px;
}

.right_h3{
width: 77px;
height: 22px;
font-family: 'Corporate A';
font-weight: 700;
font-size: 18px;
color: #F402A2;
}

.right_text{    
width: 560px;
margin-bottom: 25px;
height: 185px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 400;
line-height: 120%;
font-size: 16px;
color: #FFFFFF;
}

.right_img{
width: 560px;
height: 400px;
margin-bottom: 25px;
}

.left_img{
width: 520px;
height: 640px;
}

.left_p{
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
line-height: 120%;
margin-top: 20px;
}

.button{
width: 560px;
height: 50px;
border: 1px solid #F402A2;
font-family: 'Corporate A';;
font-weight: 700;
font-size: 18px;
color: #F402A2;
background:#2A3170;
}

.main3{
margin-top: 150px;
}

.main3 img{
width: 1110px;
margin-bottom: 25px;
}

.button1{
width: 1110px;
height: 50px;
border: 1px solid #F402A2;
font-family: 'Corporate A';
font-weight: 700;
font-size: 18px;
line-height: 120%;
color: #F402A2;
background:#2A3170;
}

.main4{
display: flex;
margin-top: 130px;
}

.main4_text{
margin-right: 35px;
}

.main4_h3{
font-family: 'Corporate A';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
color: #F402A2;
}

.main4_p{
width: 245px;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #FFFFFF;
}

.main4_1_img{
width: 830px;
height: 450px;
}

.main4_1_1_p{
width: 255px;
height: 209px;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #FFFFFF;
}

.main4_1_1_img{
width: 325px;
height: 205px;
}

.main4_1_1{
display: flex;
justify-content: space-between;
margin-top: 90px;
}

.main5{
margin-top: 100px;
display: flex;
justify-content: space-between;
}

.main5_img{
width: 315px;
height: 180px;
margin-bottom: 30px;
}

.direction{
display: flex;
margin: auto;
}

.main6{
margin-top: 130px;
display: flex;
justify-content: center;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #FFFFFF;
}

.text_left{
width: 255px;
height: 210px;
margin-right: 25px;
}

.text_right{
width: 255px;
height: 382px;
}

.main_end{
max-width: 100%;
margin-top: 130px;
}

footer{
height: 250px;
background: hsl(231, 59%, 7%);
}

.footer_info{
display: flex;
justify-content: space-between;
padding-top: 80px;
}

.footer_info h6{
margin-top: 40px;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #FFFFFF;
}